:root{
    --primary:hsl(14, 45%, 36%);
    --secondary:hsl(332, 51%, 32%);
    --border: hsl(30, 10%, 34%, 0.8);
    --fontprimary: hsl(24, 5%, 18%, 0.8);
}

body{
background-color: hsl(30, 54%, 90%);
font-family: "Young Serif", serif, "outfit";
box-sizing: border-box;
width: calc(100% - 35rem);
margin: 3rem auto;
}

main {
background-color: white;
display: flex;
flex-direction: column;
border-radius: 15px;
}

img{
width: calc(100% - 2rem);
margin: 1rem 1rem 0 1rem;
border-radius: 15px;
}

#recipe{
    margin: 0 1rem 1rem 1rem;
}

h1{
    font-size: 1.5rem;
}

p, li, th{
    font-size: 1rem;
    font-family: "outfit", sans-serif;
    font-weight: normal;
}

h3{
    color:hsl(332, 51%, 32%);
}

#preparation-time{
    background-color: hsl(330, 100%, 98%);
    color: var(--secondary);
    padding: 0.2rem 1rem;
    border-radius: 15px;
}

section{
    color: var(--primary) ;
}

span, th, #nutrition>p{
    color:var(--fontprimary);
}

table{
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}

thead, tbody, tr{
    display: contents;
}
hr{
    color: var(--border);
}

th,td{
    padding: 0.5rem;
    border-bottom: 1px solid var(--border);
}

td{
    font-weight: bold;
}

th{
    text-align: left;
    padding-left: 1.5rem;;
}

#calories{
    grid-column: 1;
    grid-row: 1;
}
#carbs{
    grid-column: 1;
    grid-row: 2;
}

#protein{
    grid-column: 1;
    grid-row: 3;
}
#fat{
    grid-column: 1;
    grid-row: 4;
}
#calories-total{
    grid-column: 2;
    grid-row: 1;
}
#carbs-total{
    grid-column: 2;
    grid-row: 2;
}

#protein-total{
    grid-column: 2;
    grid-row: 3;
}
#fat-total{
    grid-column: 2;
    grid-row: 4;
}